In [59]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [60]:
resource = requests.get("https://visaguide.world/asia/")

In [61]:
html_doc = resource.text

In [62]:
soup = BeautifulSoup(html_doc,"html.parser")

In [63]:
print(len(tables)) #we can find lenfth of  the table

3

In [64]:
tables =soup.find_all("table")
print(tables) # we get all the tables

[<table>
<tbody>
<tr>
<td>Area</td>
<td>44.57 million km²</td>
</tr>
<tr>
<td>Number of countries</td>
<td>51 (49 recognized by the UN)</td>
</tr>
<tr>
<td>Population</td>
<td>4.561 billion</td>
</tr>
<tr>
<td>Number of languages spoken</td>
<td>2,300 languages across the continent</td>
</tr>
<tr>
<td>Biggest country (by area)</td>
<td>China (9.6 million km²)</td>
</tr>
<tr>
<td>Most populated country</td>
<td>China (1.4 billion)</td>
</tr>
<tr>
<td>Highest mountain</td>
<td>Mount Everest</td>
</tr>
<tr>
<td>Longest river</td>
<td>Yangtze (Cháng Jiāng) in China</td>
</tr>
<tr>
<td>Largest lake</td>
<td>Baikal Lake in Russia</td>
</tr>
</tbody>
</table>, <table>
<thead>
<tr>
<th>Country</th>
<th>Capital</th>
<th>Area km2</th>
<th>Population (2021)</th>
</tr>
</thead>
<tbody>
<tr>
<td>Afghanistan</td>
<td>Kabul</td>
<td>652,864</td>
<td>39,835,428</td>
</tr>
<tr>
<td>Armenia</td>
<td>Yerevan</td>
<td>29,743</td>
<td>2,968,127</td>
</tr>
<tr>
<td>Azerbaijan</td>
<td>Baku</td>
<td>86,600</td>
<td>10,223,342</td>
</tr>
<tr>
<td>Bahrain</td>
<td>Manama</td>
<td>760</td>
<td>1,748,296</td>
</tr>
<tr>
<td>Bangladesh</td>
<td>Dhaka</td>
<td>147,570</td>
<td>166,303,498</td>
</tr>
<tr>
<td>Bhutan</td>
<td>Thimphu</td>
<td>38,394</td>
<td>779,898</td>
</tr>
<tr>
<td>Brunei</td>
<td>Bandar Seri Begawan</td>
<td>5,765</td>
<td>441,532</td>
</tr>
<tr>
<td>Cambodia</td>
<td>Phnom Penh</td>
<td>181,035</td>
<td>16,946,438</td>
</tr>
<tr>
<td>China (PRC)</td>
<td>Beijing</td>
<td>9,596,961</td>
<td>1,444,216,107</td>
</tr>
<tr>
<td>East Timor</td>
<td>Dili</td>
<td>14,874</td>
<td>1,343,873</td>
</tr>
<tr>
<td>Georgia</td>
<td>Tbilisi</td>
<td>69,700</td>
<td>3,979,765</td>
</tr>
<tr>
<td>Hong Kong</td>
<td>City of Victoria</td>
<td>2,755</td>
<td>7,552,810</td>
</tr>
<tr>
<td>India</td>
<td>New Delhi</td>
<td>3,287,263</td>
<td>1,393,409,038</td>
</tr>
<tr>
<td>Indonesia</td>
<td>Jakarta</td>
<td>1,904,569</td>
<td>276,361,783</td>
</tr>
<tr>
<td>Iran</td>
<td>Tehran</td>
<td>1,648,195</td>
<td>85,028,759</td>
</tr>
<tr>
<td>Iraq</td>
<td>Baghdad</td>
<td>438,317</td>
<td>41,179,350</td>
</tr>
<tr>
<td>Israel</td>
<td>Jerusalem (disputed)</td>
<td>20,770</td>
<td>8,789,774</td>
</tr>
<tr>
<td>Japan</td>
<td>Tokyo</td>
<td>377,915</td>
<td>126,050,804</td>
</tr>
<tr>
<td>Jordan</td>
<td>Amman</td>
<td>89,342</td>
<td>10,269,021</td>
</tr>
<tr>
<td>Kazakhstan</td>
<td>Nur-Sultan</td>
<td>2,724,900</td>
<td>18,994,962</td>
</tr>
<tr>
<td>Kuwait</td>
<td>Kuwait City</td>
<td>17,818</td>
<td>4,328,550</td>
</tr>
<tr>
<td>Kyrgyzstan</td>
<td>Bishkek</td>
<td>199,951</td>
<td>6,628,356</td>
</tr>
<tr>
<td>Laos</td>
<td>Vientiane</td>
<td>236,800</td>
<td>7,379,358</td>
</tr>
<tr>
<td>Lebanon</td>
<td>Beirut</td>
<td>10,400</td>
<td>6,769,146</td>
</tr>
<tr>
<td>Macau</td>
<td>Macau</td>
<td>115</td>
<td>658,394</td>
</tr>
<tr>
<td>Malaysia</td>
<td>Kuala Lumpur</td>
<td>329,847</td>
<td>32,776,194</td>
</tr>
<tr>
<td>Maldives</td>
<td>Malé</td>
<td>298</td>
<td>543,617</td>
</tr>
<tr>
<td>Mongolia</td>
<td>Ulaanbaatar</td>
<td>1,564,116</td>
<td>3,329,289</td>
</tr>
<tr>
<td>Myanmar</td>
<td>Naypyidaw</td>
<td>676,578</td>
<td>54,806,012</td>
</tr>
<tr>
<td>Nepal</td>
<td>Kathmandu</td>
<td>147,181</td>
<td>29,674,920</td>
</tr>
<tr>
<td>North Korea</td>
<td>Pyongyang</td>
<td>120,538</td>
<td>25,887,041</td>
</tr>
<tr>
<td>Oman</td>
<td>Muscat</td>
<td>309,500</td>
<td>5,223,375</td>
</tr>
<tr>
<td>Pakistan</td>
<td>Islamabad</td>
<td>881,913</td>
<td>225,199,937</td>
</tr>
<tr>
<td>Palestine</td>
<td>Ramallah</td>
<td>6,220</td>
<td>5,222,748</td>
</tr>
<tr>
<td>Qatar</td>
<td>Doha</td>
<td>11,586</td>
<td>2,930,528</td>
</tr>
<tr>
<td>Russia</td>
<td>Moscow</td>
<td>17,098,242</td>
<td>145,734,038</td>
</tr>
<tr>
<td>Saudi Arabia</td>
<td>Riyadh</td>
<td>2,149,690</td>
<td>35,340,683</td>
</tr>
<tr>
<td>Singapore</td>
<td>Singapore</td>
<td>697</td>
<td>5,896,686</td>
</tr>
<tr>
<td>South Korea</td>
<td>Seoul</td>
<td>100,210</td>
<td>51,305,186</td>
</tr>
<tr>
<td>Sri Lanka</td>
<td>Sri Jayawardenepura Kotte</td>
<td>65,610</td>
<td>21,497,310</td>
</tr>
<tr>
<td>Syria</td>
<td>Damascus</td>
<td>185,180</td>
<td>18,275,702</td>
</tr>
<tr>
<td>Taiwan</td>
<td>Taipei</td>
<td>36,193</td>
<td>23,855,010</td>
</tr>
<tr>
<td>Tajikistan</td>
<td>Dushanbe</td>
<td>143,100</td>
<td>9,749,627</td>
</tr>
<tr>
<td>Thailand</td>
<td>Bangkok</td>
<td>513,120</td>
<td>69,950,850</td>
</tr>
<tr>
<td>The Philippines</td>
<td>Manila</td>
<td>343,448</td>
<td>111,046,913</td>
</tr>
<tr>
<td>Turkey</td>
<td>Ankara</td>
<td>783,562</td>
<td>85,042,738</td>
</tr>
<tr>
<td>Turkmenistan</td>
<td>Ashgabat</td>
<td>488,100</td>
<td>6,117,924</td>
</tr>
<tr>
<td>United Arab Emirates</td>
<td>Abu Dhabi</td>
<td>83,600</td>
<td>9,991,089</td>
</tr>
<tr>
<td>Uzbekistan</td>
<td>Tashkent</td>
<td>447,400</td>
<td>33,935,763</td>
</tr>
<tr>
<td>Vietnam</td>
<td>Hanoi</td>
<td>331,212</td>
<td>98,168,833</td>
</tr>
<tr>
<td>Yemen</td>
<td>Sana’a</td>
<td>527,968</td>
<td>30,490,640</td>
</tr>
</tbody>
</table>, <table>
<thead>
<tr>
<th>Language</th>
<th>Regions</th>
<th>Number of speakers</th>
</tr>
</thead>
<tbody>
<tr>
<td>Chinese Mandarin</td>
<td>China<br/>
Singapore</td>
<td>1,2 billion</td>
</tr>
<tr>
<td>Hindi</td>
<td>India</td>
<td>550 million</td>
</tr>
<tr>
<td>Russian</td>
<td>Russia<br/>
Abkhazia<br/>
Kazakhstan<br/>
Kyrgyzstan<br/>
South Ossetia<br/>
Tajikistan<br/>
Turkmenistan<br/>
Uzbekistan</td>
<td>260 million</td>
</tr>
<tr>
<td>Indonesian</td>
<td>Indonesia</td>
<td>240million</td>
</tr>
<tr>
<td>Arabic</td>
<td>Bahrain<br/>
Iraq<br/>
Jordan<br/>
Kuwait<br/>
Lebanon<br/>
Oman<br/>
Palestine<br/>
Qatar<br/>
Saudi Arabia<br/>
Syria<br/>
UAE<br/>
Yemen</td>
<td>230 million</td>
</tr>
<tr>
<td>Bengali</td>
<td>Bangladesh</td>
<td>230 million</td>
</tr>
<tr>
<td>Persian</td>
<td>Afghanistan<br/>
Iran<br/>
Tajikistan</td>
<td>130 million</td>
</tr>
<tr>
<td>Japanese</td>
<td>Japan</td>
<td>120 million</td>
</tr>
<tr>
<td>Punjabi</td>
<td>India<br/>
Pakistan</td>
<td>100 million</td>
</tr>
<tr>
<td>Filipino</td>
<td>Philippines</td>
<td>93 million</td>
</tr>
</tbody>
</table>]

In [65]:
heading = tables[1].find_all("th")
heading #for finding what tabble we need by using the headings

[<th>Country</th>,
 <th>Capital</th>,
 <th>Area km2</th>,
 <th>Population (2021)</th>]

In [104]:
table =tables[1].find_all("tr")
table

[<tr>
 <th>Country</th>
 <th>Capital</th>
 <th>Area km2</th>
 <th>Population (2021)</th>
 </tr>,
 <tr>
 <td>Afghanistan</td>
 <td>Kabul</td>
 <td>652,864</td>
 <td>39,835,428</td>
 </tr>,
 <tr>
 <td>Armenia</td>
 <td>Yerevan</td>
 <td>29,743</td>
 <td>2,968,127</td>
 </tr>,
 <tr>
 <td>Azerbaijan</td>
 <td>Baku</td>
 <td>86,600</td>
 <td>10,223,342</td>
 </tr>,
 <tr>
 <td>Bahrain</td>
 <td>Manama</td>
 <td>760</td>
 <td>1,748,296</td>
 </tr>,
 <tr>
 <td>Bangladesh</td>
 <td>Dhaka</td>
 <td>147,570</td>
 <td>166,303,498</td>
 </tr>,
 <tr>
 <td>Bhutan</td>
 <td>Thimphu</td>
 <td>38,394</td>
 <td>779,898</td>
 </tr>,
 <tr>
 <td>Brunei</td>
 <td>Bandar Seri Begawan</td>
 <td>5,765</td>
 <td>441,532</td>
 </tr>,
 <tr>
 <td>Cambodia</td>
 <td>Phnom Penh</td>
 <td>181,035</td>
 <td>16,946,438</td>
 </tr>,
 <tr>
 <td>China (PRC)</td>
 <td>Beijing</td>
 <td>9,596,961</td>
 <td>1,444,216,107</td>
 </tr>,
 <tr>
 <td>East Timor</td>
 <td>Dili</td>
 <td>14,874</td>
 <td>1,343,873</td>
 </tr>,
 <tr>
 <td>Georgia</td>
 <td>Tbilisi</td>
 <td>69,700</td>
 <td>3,979,765</td>
 </tr>,
 <tr>
 <td>Hong Kong</td>
 <td>City of Victoria</td>
 <td>2,755</td>
 <td>7,552,810</td>
 </tr>,
 <tr>
 <td>India</td>
 <td>New Delhi</td>
 <td>3,287,263</td>
 <td>1,393,409,038</td>
 </tr>,
 <tr>
 <td>Indonesia</td>
 <td>Jakarta</td>
 <td>1,904,569</td>
 <td>276,361,783</td>
 </tr>,
 <tr>
 <td>Iran</td>
 <td>Tehran</td>
 <td>1,648,195</td>
 <td>85,028,759</td>
 </tr>,
 <tr>
 <td>Iraq</td>
 <td>Baghdad</td>
 <td>438,317</td>
 <td>41,179,350</td>
 </tr>,
 <tr>
 <td>Israel</td>
 <td>Jerusalem (disputed)</td>
 <td>20,770</td>
 <td>8,789,774</td>
 </tr>,
 <tr>
 <td>Japan</td>
 <td>Tokyo</td>
 <td>377,915</td>
 <td>126,050,804</td>
 </tr>,
 <tr>
 <td>Jordan</td>
 <td>Amman</td>
 <td>89,342</td>
 <td>10,269,021</td>
 </tr>,
 <tr>
 <td>Kazakhstan</td>
 <td>Nur-Sultan</td>
 <td>2,724,900</td>
 <td>18,994,962</td>
 </tr>,
 <tr>
 <td>Kuwait</td>
 <td>Kuwait City</td>
 <td>17,818</td>
 <td>4,328,550</td>
 </tr>,
 <tr>
 <td>Kyrgyzstan</td>
 <td>Bishkek</td>
 <td>199,951</td>
 <td>6,628,356</td>
 </tr>,
 <tr>
 <td>Laos</td>
 <td>Vientiane</td>
 <td>236,800</td>
 <td>7,379,358</td>
 </tr>,
 <tr>
 <td>Lebanon</td>
 <td>Beirut</td>
 <td>10,400</td>
 <td>6,769,146</td>
 </tr>,
 <tr>
 <td>Macau</td>
 <td>Macau</td>
 <td>115</td>
 <td>658,394</td>
 </tr>,
 <tr>
 <td>Malaysia</td>
 <td>Kuala Lumpur</td>
 <td>329,847</td>
 <td>32,776,194</td>
 </tr>,
 <tr>
 <td>Maldives</td>
 <td>Malé</td>
 <td>298</td>
 <td>543,617</td>
 </tr>,
 <tr>
 <td>Mongolia</td>
 <td>Ulaanbaatar</td>
 <td>1,564,116</td>
 <td>3,329,289</td>
 </tr>,
 <tr>
 <td>Myanmar</td>
 <td>Naypyidaw</td>
 <td>676,578</td>
 <td>54,806,012</td>
 </tr>,
 <tr>
 <td>Nepal</td>
 <td>Kathmandu</td>
 <td>147,181</td>
 <td>29,674,920</td>
 </tr>,
 <tr>
 <td>North Korea</td>
 <td>Pyongyang</td>
 <td>120,538</td>
 <td>25,887,041</td>
 </tr>,
 <tr>
 <td>Oman</td>
 <td>Muscat</td>
 <td>309,500</td>
 <td>5,223,375</td>
 </tr>,
 <tr>
 <td>Pakistan</td>
 <td>Islamabad</td>
 <td>881,913</td>
 <td>225,199,937</td>
 </tr>,
 <tr>
 <td>Palestine</td>
 <td>Ramallah</td>
 <td>6,220</td>
 <td>5,222,748</td>
 </tr>,
 <tr>
 <td>Qatar</td>
 <td>Doha</td>
 <td>11,586</td>
 <td>2,930,528</td>
 </tr>,
 <tr>
 <td>Russia</td>
 <td>Moscow</td>
 <td>17,098,242</td>
 <td>145,734,038</td>
 </tr>,
 <tr>
 <td>Saudi Arabia</td>
 <td>Riyadh</td>
 <td>2,149,690</td>
 <td>35,340,683</td>
 </tr>,
 <tr>
 <td>Singapore</td>
 <td>Singapore</td>
 <td>697</td>
 <td>5,896,686</td>
 </tr>,
 <tr>
 <td>South Korea</td>
 <td>Seoul</td>
 <td>100,210</td>
 <td>51,305,186</td>
 </tr>,
 <tr>
 <td>Sri Lanka</td>
 <td>Sri Jayawardenepura Kotte</td>
 <td>65,610</td>
 <td>21,497,310</td>
 </tr>,
 <tr>
 <td>Syria</td>
 <td>Damascus</td>
 <td>185,180</td>
 <td>18,275,702</td>
 </tr>,
 <tr>
 <td>Taiwan</td>
 <td>Taipei</td>
 <td>36,193</td>
 <td>23,855,010</td>
 </tr>,
 <tr>
 <td>Tajikistan</td>
 <td>Dushanbe</td>
 <td>143,100</td>
 <td>9,749,627</td>
 </tr>,
 <tr>
 <td>Thailand</td>
 <td>Bangkok</td>
 <td>513,120</td>
 <td>69,950,850</td>
 </tr>,
 <tr>
 <td>The Philippines</td>
 <td>Manila</td>
 <td>343,448</td>
 <td>111,046,913</td>
 </tr>,
 <tr>
 <td>Turkey</td>
 <td>Ankara</td>
 <td>783,562</td>
 <td>85,042,738</td>
 </tr>,
 <tr>
 <td>Turkmenistan</td>
 <td>Ashgabat</td>
 <td>488,100</td>
 <td>6,117,924</td>
 </tr>,
 <tr>
 <td>United Arab Emirates</td>
 <td>Abu Dhabi</td>
 <td>83,600</td>
 <td>9,991,089</td>
 </tr>,
 <tr>
 <td>Uzbekistan</td>
 <td>Tashkent</td>
 <td>447,400</td>
 <td>33,935,763</td>
 </tr>,
 <tr>
 <td>Vietnam</td>
 <td>Hanoi</td>
 <td>331,212</td>
 <td>98,168,833</td>
 </tr>,
 <tr>
 <td>Yemen</td>
 <td>Sana’a</td>
 <td>527,968</td>
 <td>30,490,640</td>
 </tr>]

In [147]:
for i in table:
    a=i.find_all("th")
    b=[]
    b=[j.text for j in a]
    break
print(b)

['Country', 'Capital', 'Area km2', 'Population (2021)']

In [155]:
for k in table:
    c= k.find_all("td")
    if c:
        print(c)

[<td>Afghanistan</td>, <td>Kabul</td>, <td>652,864</td>, <td>39,835,428</td>]
[<td>Armenia</td>, <td>Yerevan</td>, <td>29,743</td>, <td>2,968,127</td>]
[<td>Azerbaijan</td>, <td>Baku</td>, <td>86,600</td>, <td>10,223,342</td>]
[<td>Bahrain</td>, <td>Manama</td>, <td>760</td>, <td>1,748,296</td>]
[<td>Bangladesh</td>, <td>Dhaka</td>, <td>147,570</td>, <td>166,303,498</td>]
[<td>Bhutan</td>, <td>Thimphu</td>, <td>38,394</td>, <td>779,898</td>]
[<td>Brunei</td>, <td>Bandar Seri Begawan</td>, <td>5,765</td>, <td>441,532</td>]
[<td>Cambodia</td>, <td>Phnom Penh</td>, <td>181,035</td>, <td>16,946,438</td>]
[<td>China (PRC)</td>, <td>Beijing</td>, <td>9,596,961</td>, <td>1,444,216,107</td>]
[<td>East Timor</td>, <td>Dili</td>, <td>14,874</td>, <td>1,343,873</td>]
[<td>Georgia</td>, <td>Tbilisi</td>, <td>69,700</td>, <td>3,979,765</td>]
[<td>Hong Kong</td>, <td>City of Victoria</td>, <td>2,755</td>, <td>7,552,810</td>]
[<td>India</td>, <td>New Delhi</td>, <td>3,287,263</td>, <td>1,393,409,038</td>]
[<td>Indonesia</td>, <td>Jakarta</td>, <td>1,904,569</td>, <td>276,361,783</td>]
[<td>Iran</td>, <td>Tehran</td>, <td>1,648,195</td>, <td>85,028,759</td>]
[<td>Iraq</td>, <td>Baghdad</td>, <td>438,317</td>, <td>41,179,350</td>]
[<td>Israel</td>, <td>Jerusalem (disputed)</td>, <td>20,770</td>, <td>8,789,774</td>]
[<td>Japan</td>, <td>Tokyo</td>, <td>377,915</td>, <td>126,050,804</td>]
[<td>Jordan</td>, <td>Amman</td>, <td>89,342</td>, <td>10,269,021</td>]
[<td>Kazakhstan</td>, <td>Nur-Sultan</td>, <td>2,724,900</td>, <td>18,994,962</td>]
[<td>Kuwait</td>, <td>Kuwait City</td>, <td>17,818</td>, <td>4,328,550</td>]
[<td>Kyrgyzstan</td>, <td>Bishkek</td>, <td>199,951</td>, <td>6,628,356</td>]
[<td>Laos</td>, <td>Vientiane</td>, <td>236,800</td>, <td>7,379,358</td>]
[<td>Lebanon</td>, <td>Beirut</td>, <td>10,400</td>, <td>6,769,146</td>]
[<td>Macau</td>, <td>Macau</td>, <td>115</td>, <td>658,394</td>]
[<td>Malaysia</td>, <td>Kuala Lumpur</td>, <td>329,847</td>, <td>32,776,194</td>]
[<td>Maldives</td>, <td>Malé</td>, <td>298</td>, <td>543,617</td>]
[<td>Mongolia</td>, <td>Ulaanbaatar</td>, <td>1,564,116</td>, <td>3,329,289</td>]
[<td>Myanmar</td>, <td>Naypyidaw</td>, <td>676,578</td>, <td>54,806,012</td>]
[<td>Nepal</td>, <td>Kathmandu</td>, <td>147,181</td>, <td>29,674,920</td>]
[<td>North Korea</td>, <td>Pyongyang</td>, <td>120,538</td>, <td>25,887,041</td>]
[<td>Oman</td>, <td>Muscat</td>, <td>309,500</td>, <td>5,223,375</td>]
[<td>Pakistan</td>, <td>Islamabad</td>, <td>881,913</td>, <td>225,199,937</td>]
[<td>Palestine</td>, <td>Ramallah</td>, <td>6,220</td>, <td>5,222,748</td>]
[<td>Qatar</td>, <td>Doha</td>, <td>11,586</td>, <td>2,930,528</td>]
[<td>Russia</td>, <td>Moscow</td>, <td>17,098,242</td>, <td>145,734,038</td>]
[<td>Saudi Arabia</td>, <td>Riyadh</td>, <td>2,149,690</td>, <td>35,340,683</td>]
[<td>Singapore</td>, <td>Singapore</td>, <td>697</td>, <td>5,896,686</td>]
[<td>South Korea</td>, <td>Seoul</td>, <td>100,210</td>, <td>51,305,186</td>]
[<td>Sri Lanka</td>, <td>Sri Jayawardenepura Kotte</td>, <td>65,610</td>, <td>21,497,310</td>]
[<td>Syria</td>, <td>Damascus</td>, <td>185,180</td>, <td>18,275,702</td>]
[<td>Taiwan</td>, <td>Taipei</td>, <td>36,193</td>, <td>23,855,010</td>]
[<td>Tajikistan</td>, <td>Dushanbe</td>, <td>143,100</td>, <td>9,749,627</td>]
[<td>Thailand</td>, <td>Bangkok</td>, <td>513,120</td>, <td>69,950,850</td>]
[<td>The Philippines</td>, <td>Manila</td>, <td>343,448</td>, <td>111,046,913</td>]
[<td>Turkey</td>, <td>Ankara</td>, <td>783,562</td>, <td>85,042,738</td>]
[<td>Turkmenistan</td>, <td>Ashgabat</td>, <td>488,100</td>, <td>6,117,924</td>]
[<td>United Arab Emirates</td>, <td>Abu Dhabi</td>, <td>83,600</td>, <td>9,991,089</td>]
[<td>Uzbekistan</td>, <td>Tashkent</td>, <td>447,400</td>, <td>33,935,763</td>]
[<td>Vietnam</td>, <td>Hanoi</td>, <td>331,212</td>, <td>98,168,833</td>]
[<td>Yemen</td>, <td>Sana’a</td>, <td>527,968</td>, <td>30,490,640</td>]
4

In [156]:
DIC= []
for i in table[1:]:
    d = i.find_all("td")
    Dic ={"COUNTRY":d[0].text.strip(),"CAPITAL":d[1].text.strip(),"AREA":d[2].text.strip(),"POPULATION":d[3].text.strip()}
    DIC.append(Dic)
print(DIC)

[{'COUNTRY': 'Afghanistan', 'CAPITAL': 'Kabul', 'AREA': '652,864', 'POPULATION': '39,835,428'}, {'COUNTRY': 'Armenia', 'CAPITAL': 'Yerevan', 'AREA': '29,743', 'POPULATION': '2,968,127'}, {'COUNTRY': 'Azerbaijan', 'CAPITAL': 'Baku', 'AREA': '86,600', 'POPULATION': '10,223,342'}, {'COUNTRY': 'Bahrain', 'CAPITAL': 'Manama', 'AREA': '760', 'POPULATION': '1,748,296'}, {'COUNTRY': 'Bangladesh', 'CAPITAL': 'Dhaka', 'AREA': '147,570', 'POPULATION': '166,303,498'}, {'COUNTRY': 'Bhutan', 'CAPITAL': 'Thimphu', 'AREA': '38,394', 'POPULATION': '779,898'}, {'COUNTRY': 'Brunei', 'CAPITAL': 'Bandar Seri Begawan', 'AREA': '5,765', 'POPULATION': '441,532'}, {'COUNTRY': 'Cambodia', 'CAPITAL': 'Phnom Penh', 'AREA': '181,035', 'POPULATION': '16,946,438'}, {'COUNTRY': 'China (PRC)', 'CAPITAL': 'Beijing', 'AREA': '9,596,961', 'POPULATION': '1,444,216,107'}, {'COUNTRY': 'East Timor', 'CAPITAL': 'Dili', 'AREA': '14,874', 'POPULATION': '1,343,873'}, {'COUNTRY': 'Georgia', 'CAPITAL': 'Tbilisi', 'AREA': '69,700', 'POPULATION': '3,979,765'}, {'COUNTRY': 'Hong Kong', 'CAPITAL': 'City of Victoria', 'AREA': '2,755', 'POPULATION': '7,552,810'}, {'COUNTRY': 'India', 'CAPITAL': 'New Delhi', 'AREA': '3,287,263', 'POPULATION': '1,393,409,038'}, {'COUNTRY': 'Indonesia', 'CAPITAL': 'Jakarta', 'AREA': '1,904,569', 'POPULATION': '276,361,783'}, {'COUNTRY': 'Iran', 'CAPITAL': 'Tehran', 'AREA': '1,648,195', 'POPULATION': '85,028,759'}, {'COUNTRY': 'Iraq', 'CAPITAL': 'Baghdad', 'AREA': '438,317', 'POPULATION': '41,179,350'}, {'COUNTRY': 'Israel', 'CAPITAL': 'Jerusalem (disputed)', 'AREA': '20,770', 'POPULATION': '8,789,774'}, {'COUNTRY': 'Japan', 'CAPITAL': 'Tokyo', 'AREA': '377,915', 'POPULATION': '126,050,804'}, {'COUNTRY': 'Jordan', 'CAPITAL': 'Amman', 'AREA': '89,342', 'POPULATION': '10,269,021'}, {'COUNTRY': 'Kazakhstan', 'CAPITAL': 'Nur-Sultan', 'AREA': '2,724,900', 'POPULATION': '18,994,962'}, {'COUNTRY': 'Kuwait', 'CAPITAL': 'Kuwait City', 'AREA': '17,818', 'POPULATION': '4,328,550'}, {'COUNTRY': 'Kyrgyzstan', 'CAPITAL': 'Bishkek', 'AREA': '199,951', 'POPULATION': '6,628,356'}, {'COUNTRY': 'Laos', 'CAPITAL': 'Vientiane', 'AREA': '236,800', 'POPULATION': '7,379,358'}, {'COUNTRY': 'Lebanon', 'CAPITAL': 'Beirut', 'AREA': '10,400', 'POPULATION': '6,769,146'}, {'COUNTRY': 'Macau', 'CAPITAL': 'Macau', 'AREA': '115', 'POPULATION': '658,394'}, {'COUNTRY': 'Malaysia', 'CAPITAL': 'Kuala Lumpur', 'AREA': '329,847', 'POPULATION': '32,776,194'}, {'COUNTRY': 'Maldives', 'CAPITAL': 'Malé', 'AREA': '298', 'POPULATION': '543,617'}, {'COUNTRY': 'Mongolia', 'CAPITAL': 'Ulaanbaatar', 'AREA': '1,564,116', 'POPULATION': '3,329,289'}, {'COUNTRY': 'Myanmar', 'CAPITAL': 'Naypyidaw', 'AREA': '676,578', 'POPULATION': '54,806,012'}, {'COUNTRY': 'Nepal', 'CAPITAL': 'Kathmandu', 'AREA': '147,181', 'POPULATION': '29,674,920'}, {'COUNTRY': 'North Korea', 'CAPITAL': 'Pyongyang', 'AREA': '120,538', 'POPULATION': '25,887,041'}, {'COUNTRY': 'Oman', 'CAPITAL': 'Muscat', 'AREA': '309,500', 'POPULATION': '5,223,375'}, {'COUNTRY': 'Pakistan', 'CAPITAL': 'Islamabad', 'AREA': '881,913', 'POPULATION': '225,199,937'}, {'COUNTRY': 'Palestine', 'CAPITAL': 'Ramallah', 'AREA': '6,220', 'POPULATION': '5,222,748'}, {'COUNTRY': 'Qatar', 'CAPITAL': 'Doha', 'AREA': '11,586', 'POPULATION': '2,930,528'}, {'COUNTRY': 'Russia', 'CAPITAL': 'Moscow', 'AREA': '17,098,242', 'POPULATION': '145,734,038'}, {'COUNTRY': 'Saudi Arabia', 'CAPITAL': 'Riyadh', 'AREA': '2,149,690', 'POPULATION': '35,340,683'}, {'COUNTRY': 'Singapore', 'CAPITAL': 'Singapore', 'AREA': '697', 'POPULATION': '5,896,686'}, {'COUNTRY': 'South Korea', 'CAPITAL': 'Seoul', 'AREA': '100,210', 'POPULATION': '51,305,186'}, {'COUNTRY': 'Sri Lanka', 'CAPITAL': 'Sri Jayawardenepura Kotte', 'AREA': '65,610', 'POPULATION': '21,497,310'}, {'COUNTRY': 'Syria', 'CAPITAL': 'Damascus', 'AREA': '185,180', 'POPULATION': '18,275,702'}, {'COUNTRY': 'Taiwan', 'CAPITAL': 'Taipei', 'AREA': '36,193', 'POPULATION': '23,855,010'}, {'COUNTRY': 'Tajikistan', 'CAPITAL': 'Dushanbe', 'AREA': '143,100', 'POPULATION': '9,749,627'}, {'COUNTRY': 'Thailand', 'CAPITAL': 'Bangkok', 'AREA': '513,120', 'POPULATION': '69,950,850'}, {'COUNTRY': 'The Philippines', 'CAPITAL': 'Manila', 'AREA': '343,448', 'POPULATION': '111,046,913'}, {'COUNTRY': 'Turkey', 'CAPITAL': 'Ankara', 'AREA': '783,562', 'POPULATION': '85,042,738'}, {'COUNTRY': 'Turkmenistan', 'CAPITAL': 'Ashgabat', 'AREA': '488,100', 'POPULATION': '6,117,924'}, {'COUNTRY': 'United Arab Emirates', 'CAPITAL': 'Abu Dhabi', 'AREA': '83,600', 'POPULATION': '9,991,089'}, {'COUNTRY': 'Uzbekistan', 'CAPITAL': 'Tashkent', 'AREA': '447,400', 'POPULATION': '33,935,763'}, {'COUNTRY': 'Vietnam', 'CAPITAL': 'Hanoi', 'AREA': '331,212', 'POPULATION': '98,168,833'}, {'COUNTRY': 'Yemen', 'CAPITAL': 'Sana’a', 'AREA': '527,968', 'POPULATION': '30,490,640'}]
51

In [152]:
df = pd.DataFrame(D, columns= b)
df = df.dropna()
df.index=range(1,len(df)+1)
df

,Country,Capital,Area km2,Population (2021)
1,Afghanistan,Kabul,"652,864","39,835,428"
2,Armenia,Yerevan,"29,743","2,968,127"
3,Azerbaijan,Baku,"86,600","10,223,342"
4,Bahrain,Manama,760,"1,748,296"
5,Bangladesh,Dhaka,"147,570","166,303,498"
6,Bhutan,Thimphu,"38,394","779,898"
7,Brunei,Bandar Seri Begawan,"5,765","441,532"
8,Cambodia,Phnom Penh,"181,035","16,946,438"
9,China (PRC),Beijing,"9,596,961","1,444,216,107"
10,East Timor,Dili,"14,874","1,343,873"
11,Georgia,Tbilisi,"69,700","3,979,765"
12,Hong Kong,City of Victoria,"2,755","7,552,810"
13,India,New Delhi,"3,287,263","1,393,409,038"
14,Indonesia,Jakarta,"1,904,569","276,361,783"
15,Iran,Tehran,"1,648,195","85,028,759"
16,Iraq,Baghdad,"438,317","41,179,350"
17,Israel,Jerusalem (disputed),"20,770","8,789,774"
18,Japan,Tokyo,"377,915","126,050,804"
19,Jordan,Amman,"89,342","10,269,021"
20,Kazakhstan,Nur-Sultan,"2,724,900","18,994,962"
21,Kuwait,Kuwait City,"17,818","4,328,550"
22,Kyrgyzstan,Bishkek,"199,951","6,628,356"
23,Laos,Vientiane,"236,800","7,379,358"
24,Lebanon,Beirut,"10,400","6,769,146"
25,Macau,Macau,115,"658,394"
26,Malaysia,Kuala Lumpur,"329,847","32,776,194"
27,Maldives,Malé,298,"543,617"
28,Mongolia,Ulaanbaatar,"1,564,116","3,329,289"
29,Myanmar,Naypyidaw,"676,578","54,806,012"
30,Nepal,Kathmandu,"147,181","29,674,920"
31,North Korea,Pyongyang,"120,538","25,887,041"
32,Oman,Muscat,"309,500","5,223,375"
33,Pakistan,Islamabad,"881,913","225,199,937"
34,Palestine,Ramallah,"6,220","5,222,748"
35,Qatar,Doha,"11,586","2,930,528"
36,Russia,Moscow,"17,098,242","145,734,038"
37,Saudi Arabia,Riyadh,"2,149,690","35,340,683"
38,Singapore,Singapore,697,"5,896,686"
39,South Korea,Seoul,"100,210","51,305,186"
40,Sri Lanka,Sri Jayawardenepura Kotte,"65,610","21,497,310"
41,Syria,Damascus,"185,180","18,275,702"
42,Taiwan,Taipei,"36,193","23,855,010"
43,Tajikistan,Dushanbe,"143,100","9,749,627"
44,Thailand,Bangkok,"513,120","69,950,850"
45,The Philippines,Manila,"343,448","111,046,913"
46,Turkey,Ankara,"783,562","85,042,738"
47,Turkmenistan,Ashgabat,"488,100","6,117,924"
48,United Arab Emirates,Abu Dhabi,"83,600","9,991,089"
49,Uzbekistan,Tashkent,"447,400","33,935,763"
50,Vietnam,Hanoi,"331,212","98,168,833"
51,Yemen,Sana’a,"527,968","30,490,640"

In [ ]:
df.to_csv("Card_Titles.csv")